langchain
langchain-community
langchain-chroma
langchain-text-splitters
langchain-core
langchain-google-genai
langchain-huggingface
langchain-groq
chromadb
streamlit
pandas==2.2.2
sentence-transformers
python-dotenv
torch
torchvision